{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta name="viewport"  charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <link rel="icon" href="{% static 'images/logo.png' %}">
    


    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>MyForum</title>
    {% endif %}
    
</head>
<body>
    <nav>
        <div class="logo">
            <h4>My Forum</h4>
        </div> 
        <ul class="nav-link">
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'post-create' %}">New Post</a>
            </li>
            <li>
                <a href="{% url 'profile' %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            <li>
                <a href="{% url 'signup' %}">Register</a>
            </li>
            {% endif %}
            
        </ul>
        <div class="resize">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    {% block content %} {% endblock %}
    
</body>
</html>