{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="login container">
      
    <div class="content-section">
        <div class="login-title">
            <h1>Create Your Own Post</h1>
        </div>

        <form method="POST" action="">
            {% csrf_token %}
            <h3>Title:</h3>
            <br>
           <div>
               {{ form.title|add_class:"form-control2 content-cut" }}
           </div>
           <div class="space-after"></div>
           <h3>Content</h3>
           <div>
               {{ form.content|add_class:"form-control3 content-cut" }}
           </div>
            
            <div class="space-after"></div>

            <button type="submit" class="login-button">Post</button>  
        </form>
    </div>
</div>

<script src="{% static 'scripts/scripts.js' %}"></script>

{% endblock %}

