{% extends 'base.html' %}
{% load static %}



{% block content %}

    <div class="login container">
      
        <div class="login-container secondary-color">
            <div class="login-title">
                <h1>Log In</h1>
            </div>
    

             <form method="POST" action="">
                {% csrf_token %}
                <input class ="form-control" type="text" name="username" placeholder="Username">
                <input class ="form-control" type="password" name="password" placeholder="Password">

                <div class="remember-me space-after">
                    <a href="">Forgot Password?</a>
                </div>
                
                <button type="submit" name="Create User" class="login-button">Log In</button>

              
            </form>
            <div class="help">
                <p>Don't have an account yet?</p>
                <a href="{% url 'signup' %}" class="light-green help-text">Sign up</a>
            </div>
        </div>
    </div>
    
{% endblock %}