{% extends 'base.html' %}
{% load static %}




{% block content %}
    <div class="container-post">
       
            <article class="media content-section content-section-shadow">
                <div class="media-body">
                    <div class="post-metadata">
                        <a href="">{{ post.author }}</a>
                        <small class="text-muted"> {{ post.date_posted|date:"N d, Y"}}</small>
                    </div>
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-content"> {{ post.content }}</p>
                </div>
            </article>        
    </div>
  
{% endblock %}