{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="space-after"></div>
    <div class="content-section container">
        <div class="media">
            <img src="{{ user.profile.image.url }}" alt="" class="account-img">
            <div class="">
                <h2 class="account-heading">{{user.username}}</h2>
                <p>{{user.email}}</p>
            </div>
        </div>
 


        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
             <h3>Username:</h3>
             <div>
                {{u_form.username}} 
             </div>
             <h3>Email:</h3>
             <div>
                {{u_form.email}}
            </div>
            <h3>Upload Profile Picture</h3>
            <div>
                {{p_form.image}}
            </div>
             
            
            <div class="space-after"></div>
            <div class="center">
                <button type="submit" class="login-button">Save</button>  
            </div>
        </form>


    </div>
{% endblock %}