/* ----------------------- Main ----------------------- */
* {
  box-sizing: border-box;
}
body {
  background: #181c28;
  color: white;
  font-family: sans-serif;
}

.secondary-color {
  background: #252839;
}

.light-green {
  color: #4ffaca;
}

.container {
  padding: 32px 0;
  min-height: cal(100vh - 60px);
  width: 40%;
  margin: 0 auto;
}

ul {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: inherit;
}

/* ----------------------- Navigation Bar ----------------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: #252839;
}

.logo {
  color: rgb(218, 216, 216);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.nav-link {
  display: flex;
  justify-content: space-around;
  width: 35%;
  list-style: none;
  padding-bottom: 10px;
}
.nav-link a {
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.resize {
  display: none;
}
.resize div {
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px;
}

nav ul li a:hover {
  color: rgb(197, 197, 197);
}


nav ul li a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #4ffaca;

  position: relative;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav ul li a:hover::before {
  width: 100%;
}

/* ----------------------- Mobile Navigation Bar ----------------------- */

@media screen and (max-width: 1024px) {
  .nav-link {
    display: flex;
    justify-content: space-around;
    width: 50%;
    list-style: none;
  }
}

/* ----------------------- Posts ----------------------- */

.container-post {
  width: 60%;
  padding: 25px 0;
  margin: 0 auto;
}

.text-muted {
  color: rgb(151, 151, 151);
}

.content-section {
  background: #252839;
  padding: 10px 20px;
  border: 1px solid #0c0a0a;
  border-radius: 2px;
  margin-bottom: 20px;
}

.content-section-shadow {
  box-shadow: 1px 1px 2px 2px #131010;
}

.post-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #ececec;
}

.post-title {
  color: #fff;
}

a.post-title:hover {
  color: #428bca;
  text-decoration: none;
}

.post-metadata a:hover {
  color: #428bca;
  text-decoration: none;
}

.post-content {
  white-space: pre-line;
}

/* ----------------------- Login/Register ----------------------- */

.login-container {
  max-width: 400px;
  width: 100%;
  text-align: center;
  border: 2px solid #4ffaca;
  padding: 45px 45px 30px;
  margin: 0 auto;
  align-items: center;
}

.login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.form-control {
  color: white;
  display: block;
  width: 100%;
  max-height: 45px;
  font-size: 16px;
  background-color: transparent;
  padding: 10px 15px;
  border: 2px solid rgb(134, 133, 133);
  outline: none;
  line-height: 1;
  border-radius: 0;
  box-sizing: border-box;

  margin-bottom: 20px;
}

.remember-me {
  text-align: left;
  color: rgb(134, 133, 133);
  padding-bottom: 20px;
}
.login-title {
  margin-bottom: 75px;
}
.login-button {
  display: block;
  background-color: #4ffaca;
  color: #090a0e;
  padding: 15px 25px;
  line-height: 1;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  max-width: 100%;
  position: relative;
  width: 400px;
}

.help {
  box-sizing: border-box;
  isolation: isolate;
  margin: 14px 0;
}

.help-text {
  font-weight: 600;
}

nav .container {
  width: 100%;
  height: 100%;
}

.space-after {
  padding-bottom: 30px;
}

.messages {
  background-color: grey;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
}
